body
{
  background-image: url("https://imgflip.com/s/meme/Boardroom-Meeting-Suggestion.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-size: 500px;
}

#mainForm
{
  font-size: 24px;
  padding: 10px;
  opacity: .5;
  font-weight: bold;
  color: white;
  background-color: black;
}

#mainForm .inputs
{
  font-size: 16px;
  width: 360px;
}

#btnPost
{
  width: 200px;
  height:50px;
  margin: 30px 0px;
  background-color: lightblue;
  border-radius: 5px;
}

#mainForm h4
{
  margin-block-start: 1em;
  margin-block-end: 1em;
} */
