
<!--<link rel="stylesheet" href="/Users/cssi/spectacular-meme-site/static/styles/comments.css">-->

<form id="commentForm" action="/viewPost.html?post_id={{post.key.urlsafe()}}"  method="post">

  Comments:<br>
  <textarea name="commentText" id="commentsArea">
    Your comment here
  </textarea><br>

<input type="submit" value="Submit">

<!--<iframe name="viewComments" width="75%" height="75%"></iframe>-->
</form>

  <ul>
    {% for commentKey in comments_info %}

      <li>{{commentKey.get().comText}}</li>
    {% endfor %}

  </ul>
