<!DOCTYPE html>
<html>

<head>
  <title> Bloggin Penguin RPS </title>
  <link rel="stylesheet" href="../static/styles/confirmPost.css"/>
  <link rel="stylesheet" href="../static/styles/topnav.css"/>
  {% include "templates/head.html" %}

</head>

<body>
  {% include "templates/topnav.html" %}
  <div id="home" class="main">
    <h1 id="mainTitle"> Me Two!!!</h1>

    <h2> Your post! </h2>

    <h3>{{postTitle}}</h3>

    <h4> By: {{postAuthor.get().firstName}} {{postAuthor.get().lastName}} on {{postDate.strftime("%b %d, %Y")}}</h4>

    <h5> {{postDesc}} </h5>

    {{postImage}}





</div id ="main">



<script src="../static/scripts/newPost.js"> </script>
<!-- link at the bottom to reduce load time -->
<!--<script>
includeHTML();
</script>
-->
</body>
</html>
