<!DOCTYPE html>
<html>

<head>
  <title> New Profile </title>
  {% include "templates/head.html" %}
  <!--link rel = "stylesheet" href = "../static/styles/newPost.css"/-->

</head>

<body>
  {% include "templates/topnav.html" %}


  <h2> Create New Account </h2>
  <form id="mainForm" method="post" action="/createNewProfile.html">
    <h4> First Name</h4>
    <input class="inputs" type="text" name="firstName" value="First Name">
    <br>
    <h4> Last Name </h4>
    <input class="inputs"type="text" name="lastName" value="Last Name">
    <br>

    <input id="btnPost"type="submit" value="Make Account">
  </form>





</body>
</html>
