<!DOCTYPE html>
<html>

<head>
  <title> New Profile </title>
  {% include "templates/head.html" %}
  <link rel = "stylesheet" href = "../static/styles/createNewProfile.css">
</head>

<body>
  {% include "templates/topnav.html" %}

  <div class="main">
    <h1> Create New Account </h1>
    <form id="mainForm" method="post" action="/createNewProfile.html" enctype="multipart/form-data">
      <div class="rowFlexbox">
        <h4>First Name: </h4>
        <input class="inputs" type="text" name="firstName" value="First Name">
      </div>
      <div class="rowFlexbox">
        <h4>Last Name: </h4>
        <input class="inputs" type="text" name="lastName" value="Last Name">
      </div>
      <br>
      <div class="rowFlexbox">
        <h4>Profile Pic:  </h4>
        <input type="file" class="inputs" name="icon" accept="image/*" value="Upload Profile Icon">
      </div>
      <br>

      <input id="btnPost" type="submit" value="Make Account">
    </form>
  </div id="main">




</body>

</html>
