<!DOCTYPE html>
<html>

<head>
  <title> New Meme Post </title>
  {% include "templates/head.html" %}
  {% include "templates/topnav.html" %}
  <link rel = "stylesheet" href = "../static/styles/newPost.css"/>

</head>

<body>
  <div id="home" class="main">
    <h1 id="mainTitle"> Post a Meme! </h1>


    <h2> Meme Info </h2>
    <form id="mainForm" method="post" action="/confirmPost" enctype="multipart/form-data">
      <h4> Post Title </h4>
      <input class="inputs" type="text" name="post-title" value="Post Title">
      <br>
      <h4> Description </h4>
      <input class = "inputs" type = "text" name = "post-description" value = "Post Description">
      <br>
      <h4> Meme </h4>
        <input type="file" name="post-image" accept="image/*" value = "Attach your meme!">
      <br>
      <br>
    <input id="btnPost" type="submit" value="Meme Away!!!">
    </form>

</div id ="main">



<script src="../static/scripts/newPost.js"> </script>

</body>
</html>
