<!DOCTYPE html>
<html>

<head>
  <title> New Meme Post </title>
  {% include "templates/head.html" %}
  <link rel="stylesheet" href="../static/styles/profile.css" />

</head>

<body>
  {% include "templates/topnav.html" %}
  <div id="home" class="main">

    <h1 id="mainTitle">Profile </h1>
    <div id="profileInfoDiv" class="rowFlexbox">
      {% if user.postImage != None %}
      <img class="profileIcon" src="/img?img_id={{user.key.urlsafe()}}"></img>
      {% else %}
      <img class="profileIcon" src="../static/imgs/defaultProfileIcon.png"></img>
      {% endif %}
      <div id="profileDetails">
        <h2> Name: {{user.firstName}} {{user.lastName}} </h3>
          <h2> Email: {{user.email}} </h4>
      </div>
    </div id="profileInfoDiv">
    <br>
    <br id = "profilePosts">
    <section id="postType" class="rowFlexbox">
      <a><button id="profilePost" > Profile's Posts </button></a>
      <a><button id="likedPost"> Liked Posts </button></a>
    </section>
    <hr width=95%>
    <br>
    <div id="profilePostsDiv" class="centerColFlexBox">

      <h2 id="profilePostsTitle">Profile's Posts</h2>
      {% for post in userPosts %}
      <div id="{{post.key.urlsafe()}}" class="postContainer">
        <a href="viewPost.html?post_id={{post.key.urlsafe()}}">
          <img class="postImage" src="/img?img_id={{post.key.urlsafe()}}"></img>
        </a>
        <div class="blogPost">
          <h2>{{post.postTitle}}</h2>

          <h3> By: <a href="profile.html?id={{post.postAuthor.urlsafe()}}">{{post.postAuthor.get().firstName}} {{post.postAuthor.get().lastName}} </a> on {{post.postTime.strftime("%b %d, %Y")}}</h3>

          <p> {{post.postDesc}} </p>

          <h4>
            <form id="likeform" method="post" action="/likeHandler?post_id={{post.key.urlsafe()}}">
              <input style = "display: block; margin: 0 auto;" class="likeBtn" type="submit" value="Likes: {{post.likes}}" name="pseudolike">
            </form>
          </h4>

        </div>
        <hr width="100%">
      </div id="postContainer">
      {% endfor %}
    </div>

    <div id="likedPostsDiv" class="hidden centerColFlexBox">
      <h2 id="likedPostsTitle"> Liked Posts </h2>
      {% for postKey in likedPosts %}
      {% set post = postKey.get() %}
      {%if post != None %}
      <div id="{{postKey.urlsafe()}}" class="postContainer">
        <a href="viewPost.html?post_id={{postKey.urlsafe()}}">
          <img class="postImage" src="/img?img_id={{postKey.urlsafe()}}"></img>
        </a>
        <div class="blogPost">
          <h2>{{post.postTitle}}</h2>

          <h3> By: <a href="profile.html?id={{post.postAuthor.urlsafe()}}">{{post.postAuthor.get().firstName}} {{post.postAuthor.get().lastName}} </a> on {{post.postTime.strftime("%b %d, %Y")}}</h3>

          <p> {{post.postDesc}} </p>

          <h4>
            <form id="likeform" method="post" action="/likeHandler?post_id={{postKey.urlsafe()}}">
              <input style = "display: block; margin: 0 auto;" class="likeBtn" type="submit" value="Likes: {{post.likes}}" name="pseudolike">
            </form>
          </h4>

        </div>
        <hr width="80%">
      </div id="postContainer">
      {% endif %}
      {% endfor %}
    </div>
  </div id="main">

  <script src="../static/scripts/likeBtn.js"></script>
  <script src="../static/scripts/profile.js"></script>

</body>

</html>
