<!DOCTYPE html>
<html>

<head>
  <title> New Meme Post </title>
  {% include "templates/head.html" %}
  {% include "templates/topnav.html" %}
  <link rel = "stylesheet" href = "../static/styles/profile.css"/>

</head>

<body>
  <div id="home" class="main">
    <h1 id="mainTitle">Profile </h1>
    <img class="postImage"src="/img?img_id={{user.key.urlsafe()}}"></img>
    <div id="profileInfoDiv" class="rowFlexbox">
      <img id="profilePicture" class="picture"/>
      <div id="profileDetails">
        <h3> Name: {{user.firstName}} {{user.lastName}} </h3>
        <h4> Email: {{user.email}} </h4>
      </div>
    </div id="profileInfoDiv">

    <div id="profilePosts" class="main">
      {% for post in userPosts %}
      <div id="{{post.key.urlsafe()}}"class="postContainer">
        <a href="viewPost.html?post_id={{post.key.urlsafe()}}">
          <img class="postImage"
            src="/img?img_id={{post.key.urlsafe()}}"
            ></img>
        </a>
        <div class="blogPost">
          <h2>{{post.postTitle}}</h2>

          <h3> By: <a href="profile.html?id={{post.postAuthor.urlsafe()}}">{{post.postAuthor.get().firstName}} {{post.postAuthor.get().lastName}} </a> on {{post.postTime.strftime("%b %d, %Y")}}</h3>

          <p> {{post.postDesc}} </p>

          <h4>
            <form id="likeform" method="post" action="/index.html?post_id={{post.key.urlsafe()}}">
              <input type="submit" value="Likes: {{post.likes}}" name="pseudolike">
            </form>
          </h4>

        </div>
        <hr width="80%">
      </div id="postContainer">
      {% endfor %}
    </div id="profilePosts">
    <br>
    <br>

    <br>
    <br>

</div id ="main">




</body>
</html>
