<!DOCTYPE html>
<html>

<head>
  <title> New Meme Post </title>
  {% include "templates/head.html" %}
  {% include "templates/topnav.html" %}
  <link rel = "stylesheet" href = "../static/styles/profile.css"/>

</head>

<body>
  <div id="home" class="main">
    <h1 id="mainTitle"> Your Profile </h1>

    <div id="profileInfoDiv" class="rowFlexBox">
      <img id="profilePicture" class="picture"
        src = "../static/imgs/defaultProfileIcon.png"
        alt = "profile picture"
      />
      <div id="profileDetails">
        <h3> Name: {{firstName}} {{lastName}} </h3>
        <h4> Email: {{email}} </h4>
      </div>
    </div id="profileInfoDiv">
    <br>
    <br>

    <br>
    <br>

</div id ="main">




</body>
</html>
