
<link rel="stylesheet" href="../static/styles/topnav.css"/>
<div id="topnav" class = "topnav" w3-include-html="topnav.html" >
  <a id="logoBox" href= "index.html#home">
    <img
      id ="logo"
      src= "https://www.stickpng.com/assets/images/58406746657b0e0e08612e45.png"
      alt = "Logo"

    />
  </a>
  <a id="index.html" href="index.html#home">Home</a>
  <!-- Change id's and href's based on future links-->

  <a id="newPost.html" href="newPost.html">Make Post</a>
  {% if signedIn %}
    <a id="profile.html" href="profile.html">Profile</a>
  {% else %}
    <a id="signIn">Sign in with Google</a>
  {% endif %}

</div id="topnav">
