
<link rel="stylesheet" href="../static/styles/topnav.css"/> -->
<!-- <link rel = "stylesheet" href = "../static/styles/newPost.css"/> -->

<div id="topnav" class = "topnav" w3-include-html="topnav.html" >
  <a id="logoBox" href= "index.html#home">
    <img
      id ="logo"
      src= "https://i.imgflip.com/22modp.jpg"
      alt = "Logo"

    />
  </a>
  <a id="index.html" href="index.html#home">Home</a>
  <a id="newPost.html" href="newPost.html">Post!</a>
  <a id="viewPosts.html" href="viewPosts.html">Post Page</a>
</div id="topnav">
