<!DOCTYPE html>
<html>

<head>
  <title> {{post.postTitle}} </title>
  <link rel="stylesheet" href="../static/styles/viewPost.css"/>
  <link rel="stylesheet" href="../static/styles/topnav.css"/>
  {% include "templates/head.html" %}

</head>

<body>
  {% include "templates/topnav.html" %}
  <div id="home" class="main">

    <div id="{{post.key.urlsafe()}}" class="blogPost">
      <h2>{{post.postTitle}}</h2>
      <h3> By: <a href="profile.html?id={{post.postAuthor.urlsafe()}}"> {{post.postAuthor.get().firstName}} {{post.postAuthor.get().lastName}} </a> on {{post.postTime.strftime("%b %d, %Y")}}</h3>
      {{Image}}
      <p> {{post.postDesc}} </p>
    </div>
    <form id="likeform" method="post" action="/likeHandler?post_id={{post.key.urlsafe()}}">
      <input class ="likeBtn" type="submit" value="Likes: {{post.likes}}" name="pseudolike">
    </form>
    <hr width="80%">
    {% include "templates/comments.html" %}

  </div id ="main">


<script src="../static/scripts/viewPost.js"> </script>
</body>
</html>
