body
{
  background-image: url("https://picserio.com/data/out/188/drake-wallpaper-background_4039942.jpg"); */
  /* background-image: url("https://static1.fjcdn.com/comments/+_3c601ae1c7bd60dfbc5fe2b4adeaecca.jpg"); */
  background-size: auto;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-repeat: repeat; */
  justify-content: center;
  align-items: center;
  /* background-size: 500px; */
}

#mainTitle
{
  color: black;
}

#mainForm
{
  font-size: 24px;
  padding: 10px;
  opacity: .8;
  font-weight: bold;
  color: white;
  background-color: black;
}

.main
{
  opacity: .8;
}

#mainForm .inputs
{
  font-size: 16px;
  width: 360px;
}

#btnPost
{
  width: 200px;
  height:50px;
  margin: 30px 0px;
  background-color: lightblue;
  border-radius: 5px;
}

#mainForm h4
{
  margin-block-start: 1em;
  margin-block-end: 1em;
} */
