#gameBoard{
  background-color: black;
  border: solid grey thick;
  width: 800px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  position: relative; /*allows children to be soley positioned within*/
}
#player1{
  position: absolute;
  background-color: white;
  height: 20%;
  width: 2%;
  top:40%;
  left:5%;
}

#player2{
  position: absolute;
  background-color: white;
  height: 20%;
  width: 2%;
  top:40%;
  left:93%;
}

#ball{
  position: absolute;
  background-color: white;
  height:2%;
  width:2%;
  top: 49%;
  left:8%;
}
