

.postContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
.profileIcon{
  width:20vh;
  height:20vh;
  border: solid yellow 1px;
  object-fit: cover;

}
.postImage
{
  width: 50vh;
  height: 50vh;
  border: solid yellow 1px;
  object-fit: cover;
}
#likeButton, #subscribeButton{
  transition: 800ms all;
  border-radius: 600px;
  height: 50px;
  width: 100px;
  background-color: white;

}

#sticky
{
  position: -webkit-sticky;
  position: sticky;
  top: 69px;
}

#meme-post
{
  margin: 0px;
  padding: 0px;
  border: solid yellow 1px;
}
#profileInfoDiv{
  justify-content: space-around;
  width: 100vh;
  padding: 0px 10vh;
}
#profilePicture{
  height: 10vh;
  width: 10vh;
}
