.postContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
.profileIcon{
  width:20vh;
  height:20vh;
  border: solid yellow 1px;
  object-fit: cover;

}
.postImage
{
  width: 50vh;
  height: 50vh;
  border: solid yellow 1px;
  object-fit: cover;
}

#yourPost{
  transition: 0.3s ease all;
  border-radius: 1px solid white;
  /*padding: 10px 30px;*/
  border: 2px solid #2dc248;
  color: #2dc248;
  height: 50px;
  width: 145px;
  text-align: center;
  background-color: #ffef00;
  object-fit: fill;
  font-family: "Molengo", sans-serif;
  font-size: 20px;
  position: fixed;
  top: 220px;
  left: 30px;

}

#yourPost:hover{
  background-color: #2dc248;
  color: #ffef00;
  border: 2px solid #ffef00;
}

#likedPost{
  transition: 0.3s ease all;
  border-radius: 1px solid white;
  /*padding: 10px 30px;*/
  border: 2px solid #2dc248;
  color: #2dc248;
  height: 50px;
  width: 145px;
  text-align: center;
  background-color: #ffef00;
  object-fit: fill;
  font-family: "Molengo", sans-serif;
  font-size: 20px;
  position: fixed;
  top: 279px;
  left: 30px;
  /*right: 330px;*/

}

#likedPost:hover{
  background-color: #2dc248;
  color: #ffef00;
  border: 2px solid #ffef00;
}
#profilePosts, #likedPosts{
  font-size:2.5em;
}
/*
#sticky
{
  position: -webkit-sticky;
  position: sticky;
  top: 500px;
}

/*()
#sticky
{
  position: -webkit-sticky;
  position: sticky;
  top: 500px;
}*

#meme-post
{
  margin: 0px;
  padding: 0px;
  border: solid yellow 1px;
}
#profileInfoDiv{
  justify-content: space-around;
  width: 100vh;
  padding: 0px 10vh;
}
#profilePicture{
  height: 10vh;
  width: 10vh;
}
