*{
  box-sizing: border-box;
}
body {
  display: flex;
  /* background-image: url("https://previews.123rf.com/images/jes2ufoto/jes2ufoto1708/jes2ufoto170800109/83814232-old-white-brick-wall-texture-design-empty-white-brick-background-for-presentations-and-web-design-a-.jpg"); */
  background-image: url("http://epicwallpaperz.com/wallpaper-hd/meme-wallpapers-for-android-On-wallpaper-hd.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  flex: auto;
  justify-content: center;
  align-items: center;
  font-family: "Molengo", sans-serif;

}

h1{
  font-size: 3.5em;
}

hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* Add a black background color to the top navigation */
.topnav{
  position: fixed;
  top: 0;
  width: 100%;
  left:0;
  height: 69px;
  overflow: hidden;
  background-color: #ffef00;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.topnav div{
  display: flex;
  align-items:stretch;
}

#centerTopnav
{
  display: flex;
  flex: auto;
  justify-content: center;
  /* margin-right: 3%; */
}
/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  text-align: center;
  height: 100%;
  padding: 0px 25px;
  line-height: 69px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.main{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,.2);
  margin: 150px 80px 80px 80px;
  border-radius: 30px;
  padding: 50px 70px;
  background-clip: border-box;
}

.rowFlexbox{
  display: flex;
  flex-direction: row;
  align-items: space-around;
}

.picBox{

}

#logoBox{
  padding: 0;
  height: 69px;
}
#logo{
   width: 80px;
   height: 69px;
}

#headerTitle{
  display:block;
  font-size: 2.7em;
  font-weight: bold;
  margin: .5em;
  font-family: "Fascinate Inline", cursive;
}
